node_modules
**/node_modules
**/.next
**/dist
**/.turbo

.git
.gitignore
Dockerfile
**/Dockerfile

npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

.env
.env.*
!.env.example

**/src/generated
**/prisma/generated
**/*.tsbuildinfo
